/* Reset */
* { box-sizing: border-box; }
body, html, #root {
  margin: 0;
  height: 100%;
  font-family: Inter, sans-serif;
  background: #f3f4f6;
}

/* Layout principal */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* --- ÁREA DE CONTEÚDO --- */
.app-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* espaço quando sidebar aberta */
  transition: margin-left 0.3s ease;
}

/* Quando sidebar estiver minimizada */
.app-content.expanded {
  margin-left: 70px !important;
}
