/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f6fb;
  color: #1d3a75;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões padrão */
button {
  cursor: pointer;
  border: none;
}
